.header{
    font-size: 28px;
    color:red
}
#liveForm .kpl_builder{
width:100% !important
}
.kpl_builder .noRepeatBackGroundImg .neb-rating-image-implementation{
    padding: 0 !important;
    position: absolute !important;
    top: 0px !important;
}

div.footer-right-buttons pull-right{
float:none !important,
}

#liveForm .kpl_builder .panel-footer .btn.cancel-btn {
    float: left !important;
    width: 20% !important;
}

#liveForm .kpl_builder .panel-footer .btn.submit-btn {
    width: 50% !important;
    float: right !important;
}
neb-rating .neb-rating.numbersCircle label {
    background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat !important;
}
neb-rating .neb-rating {
  height: 35px;
  outline: none;
  display: inline-block; }
  neb-rating .neb-rating .edge-labels {
    font-size: 11px;
    position: relative;
    top: -7px; }
    neb-rating .neb-rating .edge-labels #rightEdge {
      float: right; }
  neb-rating .neb-rating span {
    outline: none; }
  neb-rating .neb-rating.emoticons label {
    background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat; }
  neb-rating .neb-rating.numbers label {
    background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat; }
  neb-rating .neb-rating.numbersCircle label {
    background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat; }
  neb-rating .neb-rating.smilies label {
    background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat; }
  neb-rating .neb-rating.stars label {
    background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat; }
  neb-rating .neb-rating.bars label {
    background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat; }
  neb-rating .neb-rating.numbersSquare label {
    background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat; }

neb-rating.grading .numbersCircle label {
  background: url("https://cdn.jsdelivr.net/gh/hereisramy/Survey-CSS/010edited.png") no-repeat; }
