.header{
    font-size: 28px;
    color:red
}
#liveForm .kpl_builder{
width:100% !important
}
.kpl_builder .noRepeatBackGroundImg .neb-rating-image-implementation{
    padding: 0 !important;
    position: absolute !important;
    top: 0px !important;
}
.neb-rating .neb-rating.numbersCircle label {
    background: url(../0-10_colored.png) no-repeat;
}
